@media (min-width: 641px) {
  .pc-show {
    display: block;
  }
}

@media (max-width: 640px) {
  .pc-show {
    display: none;
  }
}

@media (min-width: 641px) {
  .sp-show {
    display: none;
  }
}

@media (max-width: 640px) {
  .sp-show {
    display: block;
  }
}

main {
  margin: 0 auto 14rem;
}

/* top */
.l-topContent {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

.l-topContent a {
  color: #000;
}

.l-topContent a:hover {
  -webkit-transition: 0.2s;
  opacity: 0.7;
  transition: 0.2s;
}

.l-topContent a img:hover {
  -webkit-transition: 0.2s;
  opacity: 0;
  transition: 0.2s;
}

.l-topContent a:visited {
  color: #000;
}

.l-topContent > ul {
  grid-column-gap: 14rem;
  grid-row-gap: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: space-between;
  padding: 40px 0 0 0;
}

@media (max-width: 640px) {
  .l-topContent > ul {
    grid-row-gap: 8rem;
    margin-bottom: 8rem;
    padding: 0;
  }
}

.l-topContent > ul > li {
  list-style-type: none;
}

@media (min-width: 641px) {
  .l-topContent > ul > li:nth-child(2n) {
    margin: 124px 0 -20px 0;
  }
}

.work-items {
  position: absolute;
  right: 0;
  top: 0;
}

.work-items svg {
  height: auto;
  margin: 0 0 0 auto;
}

.works-title {
  position: absolute;
  top: -1.4rem;
}

.works-title svg {
  height: auto;
  width: 80%;
}

.works-right {
  right: 0px;
}

.works-image {
  display: inline-block;
  position: relative;
  top: 83px;
}

.works-subtitle {
  font-size: 0.8rem;
  margin: 30px 0 0 0;
  position: relative;
}

.works-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 20px 0 0 0;
}

.work-box01 {
  display: block;
  position: relative;
}

/* prj */
.l-prj-menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 6rem auto 0;
  width: 62%;
}

@media (max-width: 640px) {
  .l-prj-menu {
    margin: 2rem auto;
    width: 84%;
  }
}

.l-prj-title img {
  height: auto;
  width: 80%;
}

.l-prj-fv {
  background: #F8F8FB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  margin: 2rem 0 6rem;
  width: 100%;
}

@media (max-width: 640px) {
  .l-prj-fv {
    background-size: cover;
    height: 50vh;
  }
}

.l-prj-fv-00 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv00.jpg?raw=true");
}

.l-prj-fv-01 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv01.jpg?raw=true");
}

.l-prj-fv-02 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv02.jpg?raw=true");
}

.l-prj-fv-03 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv03.jpg?raw=true");
}

.l-prj-fv-04 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv04.jpg?raw=true");
}

.l-prj-fv-05 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv05.jpg?raw=true");
}

.l-prj-fv-06 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv06.jpg?raw=true");
}

.l-prj-fv-07 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv07.jpg?raw=true");
}

.l-prj-fv-08 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv08.jpg?raw=true");
}

.l-prj-fv-09 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv09.jpg?raw=true");
}

.l-prj-fv-10 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv10.jpg?raw=true");
}

.l-prj-fv-11 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv11.jpg?raw=true");
}

.l-prj-fv-12 {
  background-image: url("https://github.com/clame3/portfolio/blob/master/images/fv012.jpg?raw=true");
}

.l-prj-sasikae {
  margin: auto;
  width: 62%;
}

@media (max-width: 640px) {
  .l-prj-sasikae {
    width: 84%;
  }
}

.l-prj-content {
  margin: auto;
  width: 62%;
}

@media (max-width: 640px) {
  .l-prj-content {
    width: 84%;
  }
}

.l-prj-subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.5;
  margin-bottom: 2rem;
}

.l-prj-description {
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  font-size: 1rem;
  letter-spacing: 0.8;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.l-prj-section {
  margin-bottom: 6rem;
}

.l-prj-grid {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 88rem;
  width: 100%;
}

@media (max-width: 640px) {
  .l-prj-grid {
    height: 42rem;
  }
}

.l-prj-grid-1row {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 18rem;
  width: 100%;
}

@media (max-width: 640px) {
  .l-prj-grid-1row {
    height: 8rem;
  }
}

.l-prj-gridparts {
  background: #F8F8FB;
  position: relative;
}

.l-prj-gridparts:nth-child(n + 2)::before {
  background: url(".");
  content: "";
  display: inline-block;
  height: 10px;
  left: -30%;
  position: absolute;
  top: 50%;
  width: 82px;
}

@media (max-width: 640px) {
  .l-prj-gridparts:nth-child(n + 2)::before {
    height: 5px;
    top: 50%;
    width: 42px;
  }
}

.l-prj-grid-primaryparts {
  background: #F8F8FB;
}

.l-prj-gridnumber {
  font-size: 1.4rem;
  left: 3%;
  position: absolute;
  top: 3%;
}

.l-prj-img > img {
  width: 100%;
}

.l-prj-movie {
  margin: auto;
  width: 40%;
}

.mt60 {
  margin-top: 4rem;
}

.mask {
  background-size: contain !important;
  width: 100%;
}

.mask-02 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg02@2x.jpg?raw=true");
}

.mask-03 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg03@2x.jpg?raw=true");
}

.mask-04 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg04@2x.jpg?raw=true");
}

.mask-05 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg05@2x.jpg?raw=true");
}

.mask-06 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg06@2x.jpg?raw=true");
}

.mask-07 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg07@2x.jpg?raw=true");
}

.mask-08 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg08@2x.jpg?raw=true");
}

.mask-09 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg09@2x.jpg?raw=true");
}

.mask-10 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg10@2x.jpg?raw=true");
}

.mask-11 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg11@2x.jpg?raw=true");
}

.mask-12 {
  background: url("https://github.com/clame3/portfolio/blob/master/images/work_topImg12@2x.jpg?raw=true");
}

.works-image {
  -webkit-animation-name: eanim;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: eanim;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes eanim {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}

@keyframes eanim {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}

.l-about-description {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -webkit-font-feature-settings: "palt" 1;
  display: grid;
  font-feature-settings: "palt" 1;
  grid-template-columns: 1fr 26fr;
  letter-spacing: 0.8;
  line-height: 1.8rem;
}

.l-about-description::after {
  background: url("https://github.com/clame3/portfolio/blob/master/images/kuramaruchan.svg");
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
}

.highlight {
  background: #6D6DF4;
  color: #fff;
  padding: 4px;
}
