.slider-anchor {
  font-size: 0.8rem;
  margin: 10rem 0 0 0;
}

.slider-anchor a {
  color: #1a1a1a;
  text-decoration: none;
}

.slider-anchor a:visited {
  color: #1a1a1a;
}

.slider-anchor a:hover {
  -webkit-transition-duration: 0.2s;
  opacity: 0.3;
  transition-duration: 0.2s;
}

.anchor {
  display: inline-block;
  padding: 0 28px;
}
